@model IEnumerable<Rs_71.Models.Rs_71skill_count>


<div class="card">
    <div class="card-body">
        <h4 class="card-title">View skills</h4>
        <div class="table-responsive">
            <table class="table table-striped table-bordered zero-configuration">
                <thead>
                    <tr>
                        <th></th>
                        <th>Site_name</th>
                        <th>skill</th>
                        <th>Count</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td></td>
                            <td>@Html.DisplayFor(modelItem => item.Site_name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Skill)</td>
                            <td>@Html.DisplayFor(modelItem => item.Coun)</td>
                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Site name</th>
                        <th>skill</th>
                        <th>Count</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script>
    function msg(txt) {
        sweetAlert("...", txt, "info");
    }
    var statusMessage = "@ViewBag.status" || false;
    if (statusMessage != false && statusMessage.length > 0) {
        msg(statusMessage);
    }
</script>